.page {
  width: 1024px;
  margin: auto;
}

.content-wrapper {
  margin: 3em;
}

.login-bar-wrapper {
  float: right;
}

.user-credits-wrapper {
  margin-top: 2em;
}

.uploads table {
  border-collapse: collapse;
}

.uploads th, .uploads td {
  border: 1px solid black;
  padding: 5px;
}

.original-sgf, .review-sgf {
  text-decoration: underline;
  color: #0000EE;
  cursor: pointer;
}
